version: 2.1
orbs:
  # used by renovate
  # repo: giantswarm/architect-orb
  architect: giantswarm/architect@6.5.0

workflows:
  package-and-push-chart-on-tag:
    jobs:
    - architect/push-to-app-catalog:
        context: architect
        executor: app-build-suite
        name: push-policy-api-crds-chart-to-control-plane-catalog
        app_catalog: control-plane-catalog
        app_catalog_test: control-plane-test-catalog
        chart: policy-api-crds
        explicit_allow_chart_name_mismatch: true
          # Trigger job on git tag.
        filters:
          tags:
            only: /^v.*/
          branches:
            ignore:
            - main
            - master

    - architect/push-to-app-catalog:
        context: architect
        executor: app-build-suite
        name: push-policy-api-crds-chart-to-giantswarm-catalog
        app_catalog: giantswarm-catalog
        app_catalog_test: giantswarm-test-catalog
        persist_chart_archive: true
        chart: policy-api-crds
          # Trigger job on git tag.
        explicit_allow_chart_name_mismatch: true
        filters:
          tags:
            only: /^v.*/
          branches:
            ignore:
            - main
